page-reportlist {

  .style1{
    position: absolute;
    width: 70%;
    height: 0%;
    text-align: center;
  }

  .img{
    border: 1px solid darkslategray;
    width: 50%;
    height: auto;
  }
}
